---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Raleway, Helvetica, Arial, sans-serif;
$fancy-font-family: "Josefin Sans";
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$thin-spacing-unit: 5px;

$text-color:       #111111;
$background-color: #ffffff;
$brand-color:      #2AA198;
$code-color:       #f9f9f9;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$image-ratio: 0.9;
$main-image-width: 200px;
$main-image-height: $main-image-width * $image-ratio;
$icon-image-width: 50px;
$icon-image-height: $icon-image-width * $image-ratio;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
